# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.log
*.sqlite3

# Django stuff:
*.db
*.pot
*.pyc
*.pyo
*.mo
*.log
*.bak

# VSCode
.vscode/

# Environments
.env
venv/
env/
ENV/
.venv/

# Migrations
**/migrations/
!*/migrations/__init__.py

# Byte-compiled / optimized / DLL files
*.so

# Test files
coverage.xml
htmlcov/
.pytest_cache/
nosetests.xml
test-results/

# IDEs
.idea/
*.swp

# System files
.DS_Store
Thumbs.db
